@page "/insertcustomers"

<h3>Component</h3>

@using ATM.Models;

@inject ATM.Data.ApplicationDbContext _context
@inject CustomerService customerservice

<div class="customer-form">
    <EditForm Model=@customer OnValidSubmit=@HandleValidSubmit>
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="Customer Name">Customer Name</label>
            <InputText id="CustomerName" class="form-control" @bind-Value="customer.CustomerName" />
        </div>

        <div class="form-group">
            <label for="Customer Email">Customer Email</label>
            <InputText id="Email" class="form-control" @bind-Value="customer.EmailID" />
        </div>

        <div class="form-group">
            <label for="Address">Customer Address</label>
            <InputText id="Address" class="form-control" @bind-Value="customer.Address" />
        </div>

        <div class="form-group">
            <label for="City">Customer City</label>
            <InputText id="City" class="form-control" @bind-Value="customer.City" />
        </div>

        <div class="form-group">
            <label for="State">Customer State</label>
            <InputText id="State" class="form-control" @bind-Value="customer.State" />
        </div>

        <div class="form-group">
            <label for="PIN Code">Customer PIN CODE</label>
            <InputText id="PINCode" class="form-control" @bind-Value="customer.PINCode" />
        </div>

        <div class="form-group">
            <label for="PrimaryContactPersonName">Customer PrimaryContactPersonName</label>
            <InputText id="PrimaryContactPersonName" class="form-control" @bind-Value="customer.PrimaryContactPersonName" />
        </div>


        <div class="form-group">
            <label for="PrimaryContactPersonContact">Customer PrimaryContactPersonContact</label>
            <InputText id="PrimaryContactPersonContact" class="form-control" @bind-Value="customer.PrimaryContactPersonContact" />
        </div>


        <div class="form-group">
            <label for="GSTNo">Customer GSTNo</label>
            <InputText id="GSTNo" class="form-control" @bind-Value="customer.GSTNo" />
        </div>


        <div class="form-group">
            <label for="PANNo">Customer PAN No</label>
            <InputText id="PANNo" class="form-control" @bind-Value="customer.PANNo" />
        </div>
        
        <div class="form-group">
            <label for="OpeningBalance">Customer Opening Balance</label>
            <InputNumber typeof="decimal" id="OpeningBalance" class="form-control" @bind-Value="customer.OpeningBalance" />
        </div>


        <button class="btn btn-primary" type="submit">Create Customer</button>
    </EditForm>
</div>



@code {

    public List<Customer> Customers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Customers = await Task.Run(() => customerservice.GetCustomers());
    }

    Customer customer = new Customer();

    private async void HandleValidSubmit()
    {

        try
        {
            await customerservice.AddCustomer(customer);
            await _context.SaveChangesAsync();
        }
        catch
        {
            base.StateHasChanged();
        }
        customer = new Customer();
        base.StateHasChanged();
    }

}
